/* base template styles */

body {
    background-color: #f4e2c2;
}

/* nav bar styles */

.navbar {
    background: #eae7de;
    list-style-type: none;
    height: 100px;
    margin: 0;
}

.logo {
    margin-top: 30px;
    margin-left: 50px;
    float: left;
    font-size: x-large;
    font-weight: bolder;
}

.navbar-nav {
    float: right;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-link {
    color: black;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
}

.active:hover {
    background: #f1dbb1;
    padding: 5px;
    transition: .5s;
} */

/* page title styles */

/* .page-title {
    margin: 50px;
    background-color: #eae7de;
    width: 100%;
    float: left;
    margin-left: 0px;
}

/* main content */

main {
    min-height: calc(100vh - 130px - 20px);
}

/* footer styles */

.footer {
    list-style-type: none;
    background: #eae7de;
    padding: 20px;
}

.footer-links {
    text-align: center;
}

.footer-item {
    display: inline-block;
    margin-right: 20px;
}

/* products page styles */
