{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="page-title">Product_detail Page</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>logo</h1>
            <h2>{{ products.category.friendly_name }}</h2>
            <p>{{ products.name }}</p>
            <p>{{ products.description }}</p>
            <p>{{ products.price }}</p>
            <p>{{ products.rating }}</p>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn">
                        Add to basket?
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}