{% extends "base.html" %}
{% load static %}

<h1 class="page-title">Product_detail Page</h1>

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            {% for products in products %}
            <h1>logo</h1>
            <h2>{{ category.friendly_name }}</h2>
            <p>{{ products.name }}</p>
            <p>{{ products.description }}</p>
            <p>{{ products.price }}</p>
            <p>{{ products.rating }}</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}